.App {
  text-align: center;
}

.ReactVirtualized__Grid .ReactVirtualized__List{
  direction: rtl !important;
  
}

.ReactVirtualized__Grid__innerScrollContainer {
  scrollbar-width: none !important;
}